@use "./partials/global" as *;

main {
  font-weight: lighter;
}
.about {
  background-color: #fff0ed;
  display: inline-flex;
  width: 100%;
}
.about__title {
  margin: 1.25rem;
  min-width: auto;
  font-weight: lighter;
  font-size: 3.75rem;
}
.about__paragraph {
  width: 40%;
  margin: 1.25rem;
}
.about__shop-now {
  width: 11.25rem;
  color: white;
  background-color: #5bacc3;
  margin: 1.25rem;
  padding: 1.25rem 1.25rem;
  background-color: #5bacc3;
  color: white;
  border: none;
  cursor: pointer;
}
.about__content {
  width: 37.5rem;
  margin-left: 6.25rem;
  margin-top: 9rem;
}

.about__coffee-bag {
  margin: 3.75rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.products__title {
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 1.25rem;
  margin-top: 0;
  font-weight: lighter;
  font-size: 3.75rem;
}
.products__container {
  display: inline-flex;
  justify-content: center;
  padding: 2rem;
}

.products__gallery {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 2rem;
  border-radius: 0.625rem;
  width: 100%;
  border: 0.0625rem solid #ddd;
  overflow: hidden;
  width: 18.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.products__image-container {
  background-color: white;
  padding: 0.625rem;
}

.products__cost {
  background-color: #fff0ed;
  width: inherit;
  height: 6.25rem;
}
.products__view-all {
  display: block;
  box-sizing: border-box;
}

.products__gallery {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}
.products__name {
  font-size: 1.125rem;
  margin: 0.625rem 0;
  margin-left: 2rem;
  margin-bottom: 0;
}

.products__prices {
  color: #5bacc3;
  text-align: center;
  font-weight: bold;
  margin-left: 70%;
  padding-bottom: 1rem;
  margin-top: 0;
}
.view-all {
  width: 11.25rem;
  color: white;
  padding: 1.25rem;
  background-color: #5bacc3;
  color: white;
  border: none;
  cursor: pointer;
}

.products__view-all {
  text-align: center;
  margin-top: 1.25rem;
}
.different {
  padding: 40px;
  margin-left: 6.25rem;
  width: 37.5rem;
  margin-top: 9rem;
}

.different__about {
  max-width: 37.5rem;
  margin: 0 auto;
}

.different__title {
  color: #393939;
  margin-bottom: 1.25rem;
  min-width: auto;
  font-weight: lighter;
  font-size: 3.75rem;
}

.different__descriptions {
  font-size: 1.2em;
  margin-bottom: 1.25rem;
  color: #393939;
}

.different__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.different__image {
  width: 3.75rem;
  height: auto;
}

.discount {
  background-color: #393939;
  color: white;
  font-size: 2.8em;
  font-weight: 400;
  margin: 10rem;
  padding: 1rem;
}
.discount__code {
  text-align: center;
}

.footer__contact {
  background-color: #fff0ed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__section-title {
  font-weight: lighter;
  margin-bottom: 0.625rem;
}
.bolded {
  font-weight: bold;
}

.social__link img {
  width: 3.125rem;
  margin-right: 0.625rem;
}

.footer {
  display: flex;
  width: 100%;
}
