$nitro-pink: #fff0ed;
$nitro-blue: #5bacc3;
$secondary-color: #393939;
$bg-white: white;
$font-large: 3.75rem;
$font-medium: 2rem;
$font-small: 1rem;

%centered-text {
  text-align: center;
}

.header {
  background-color: $nitro-pink;
  display: inline-flex;
  width: 100%;
  align-items: normal;
}

body {
  font-family: "Open Sans";
  font-weight: 25rem;
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.header__nav {
  display: inline-block;
  margin-left: 50%;
  display: flex;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
  margin: 0;
}

.header__item {
  text-decoration: none;
  color: $secondary-color;
  font-weight: normal;
  margin-left: 3.75rem;
}
.header__shop-now {
  text-decoration: none;
  color: $nitro-blue;
  font-weight: normal;
  margin-left: 3.75rem;
}

.header__logo-word {
  font-weight: lighter;
  font-size: 3.75re